<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProductTitleText" value="Product Title" />
    <add key="InvoiceTitleText" value="Invoice Title" />
    <add key="InvoiceRowsFromTop" value="7" />
    <add key="InvoiceAppendRowsAtBottom" value="7" />
  </appSettings>
</configuration>