<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Application>
    <MainFormTitle>Ceren Sales Orders Software</MainFormTitle>
    <LogoFileName>CerenLogo.png</LogoFileName>
    <LogoImageHeight>80</LogoImageHeight>
    <ReportRowsFromTop>7</ReportRowsFromTop>
    <ReportAppendRowsAtBottom>7</ReportAppendRowsAtBottom>
  </Application>
  <ProductLines>
    <ProductLine Name="&lt;Default&gt;">
      <General>
        <SummaryLocation>0</SummaryLocation>
        <CustomerBillGenFormatInvoice>True</CustomerBillGenFormatInvoice>
        <CustomerBillGenFormatQuotation>True</CustomerBillGenFormatQuotation>
        <CustomerBillPrintFormatInvoice>False</CustomerBillPrintFormatInvoice>
        <CustomerBillPrintFormatQuotation>True</CustomerBillPrintFormatQuotation>
      </General>
      <Invoice>
        <HeaderTitle>Default Title</HeaderTitle>
        <HeaderSubTitle>Default SubTitle</HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Footer Title</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>Bangalore-560032</Address>
        <PhoneNumber>1234567890</PhoneNumber>
        <EMailID>a@gmail.com</EMailID>
        <TINNumber>1234567890</TINNumber>
        <GSTINumber>1234567890ABCD</GSTINumber>
        <LastNumber>0</LastNumber>
        <VATPercent>5.5</VATPercent>
    </Invoice>
      <Quotation>
        <HeaderTitle>Default Title</HeaderTitle>
        <HeaderSubTitle>Default SubTitle</HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Footer Title</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>Bangalore-560032</Address>
        <PhoneNumber>1234567890</PhoneNumber>
        <EMailID>a@gmail.com</EMailID>
        <TINNumber>
        </TINNumber>
        <GSTINumber>1234567890ABCD</GSTINumber>
        <LastNumber>0</LastNumber>
      </Quotation>
      <PurchaseOrder>
        <HeaderTitle>Default Purchase Order</HeaderTitle>
        <HeaderSubTitle>
        </HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Ceren Business Group</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>No.40, 5th Main, 6th Cross, Krishnappa Block, Ganganagar Extn., RT Nagar, Bangalore-560032</Address>
        <PhoneNumber>+917022037919</PhoneNumber>
        <EMailID>cerenbusinessgroup@gmail.com</EMailID>
        <TINNumber>
        </TINNumber>
        <GSTINumber>1234567890ABCD</GSTINumber>
        <VATPercent>5.5</VATPercent>
        <LastNumber>103</LastNumber>
        <PastSalesPeriod>
          <Value>10</Value>
          <Units>Days</Units>
        </PastSalesPeriod>
      </PurchaseOrder>
    </ProductLine>
    <ProductLine Name="Vegetables">
      <General>
        <SummaryLocation>0</SummaryLocation>
        <CustomerBillGenFormatInvoice>True</CustomerBillGenFormatInvoice>
        <CustomerBillGenFormatQuotation>True</CustomerBillGenFormatQuotation>
        <CustomerBillPrintFormatInvoice>False</CustomerBillPrintFormatInvoice>
        <CustomerBillPrintFormatQuotation>True</CustomerBillPrintFormatQuotation>
      </General>
      <Invoice>
        <HeaderTitle>Veg Invoice12345678</HeaderTitle>
        <HeaderSubTitle>
        </HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Ceren Business Group</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>No.40, 5th Main, 6th Cross, Krishnappa Block, Ganganagar Extn., RT Nagar, Bangalore-560032</Address>
        <PhoneNumber>+917022037919</PhoneNumber>
        <EMailID>cerenbusinessgroup@gmail.com</EMailID>
        <TINNumber>29271403793</TINNumber>
        <LastNumber>225</LastNumber>
        <VATPercent>5.5</VATPercent>
      </Invoice>
      <Quotation>
        <HeaderTitle>Veg Order Quotation</HeaderTitle>
        <HeaderSubTitle>
        </HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Ceren Business Group</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>No.40, 5th Main, 6th Cross, Krishnappa Block, Ganganagar Extn., RT Nagar, Bangalore-560032</Address>
        <PhoneNumber>+917022037919</PhoneNumber>
        <EMailID>cerenbusinessgroup@gmail.com</EMailID>
        <TINNumber>
        </TINNumber>
        <LastNumber>212</LastNumber>
      </Quotation>
      <PurchaseOrder>
        <HeaderTitle>Veg Purchase Order</HeaderTitle>
        <HeaderSubTitle>
        </HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Ceren Business Group</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>No.40, 5th Main, 6th Cross, Krishnappa Block, Ganganagar Extn., RT Nagar, Bangalore-560032</Address>
        <PhoneNumber>+917022037919</PhoneNumber>
        <EMailID>cerenbusinessgroup@gmail.com</EMailID>
        <TINNumber>
        </TINNumber>
        <VATPercent>5.5</VATPercent>
        <LastNumber>121</LastNumber>
        <PastSalesPeriod>
          <Value>10</Value>
          <Units>Days</Units>
        </PastSalesPeriod>
      </PurchaseOrder>
    </ProductLine>
    <ProductLine Name="Bakery">
      <General>
        <SummaryLocation>1</SummaryLocation>
        <CustomerBillGenFormatInvoice>True</CustomerBillGenFormatInvoice>
        <CustomerBillGenFormatQuotation>True</CustomerBillGenFormatQuotation>
        <CustomerBillPrintFormatInvoice>False</CustomerBillPrintFormatInvoice>
        <CustomerBillPrintFormatQuotation>True</CustomerBillPrintFormatQuotation>
      </General>
      <Invoice>
        <HeaderTitle>Bakery Invoice</HeaderTitle>
        <HeaderSubTitle>
        </HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Ceren Business Group</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>No.40, 5th Main, 6th Cross, Krishnappa Block, Ganganagar Extn., RT Nagar, Bangalore-560032</Address>
        <PhoneNumber>+917022037919</PhoneNumber>
        <EMailID>cerenbusinessgroup@gmail.com</EMailID>
        <TINNumber>29271403793123</TINNumber>
        <LastNumber>13511</LastNumber>
        <VATPercent>5.5</VATPercent>
      </Invoice>
      <Quotation>
        <HeaderTitle>Bakery Order Quotation</HeaderTitle>
        <HeaderSubTitle>
        </HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Ceren Business Group</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>No.40, 5th Main, 6th Cross, Krishnappa Block, Ganganagar Extn., RT Nagar, Bangalore-560032</Address>
        <PhoneNumber>+917022037919</PhoneNumber>
        <EMailID>cerenbusinessgroup@gmail.com</EMailID>
        <TINNumber>
        </TINNumber>
        <LastNumber>103</LastNumber>
      </Quotation>
      <PurchaseOrder>
        <HeaderTitle>Bakery Purchase Order</HeaderTitle>
        <HeaderSubTitle>
        </HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Ceren Business Group</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>
        </Address>
        <PhoneNumber>+917022037919</PhoneNumber>
        <EMailID>cerenbusinessgroup@gmail.com</EMailID>
        <TINNumber>
        </TINNumber>
        <VATPercent>5.5</VATPercent>
        <LastNumber>103</LastNumber>
        <PastSalesPeriod>
          <Value>10</Value>
          <Units>Days</Units>
        </PastSalesPeriod>
      </PurchaseOrder>
    </ProductLine>
  </ProductLines>
</Settings>