<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Application>
    <MainFormTitle>Sales Orders Software</MainFormTitle>
    <LogoFileName>your_logo_here.png</LogoFileName>
    <LogoImageHeight>80</LogoImageHeight>
    <ReportRowsFromTop>7</ReportRowsFromTop>
    <ReportAppendRowsAtBottom>7</ReportAppendRowsAtBottom>
    <Database Server="APEXDEV0719" DatabaseName="SALES" UserName="nisha" Password="nisha"/>
  </Application>
  <ProductLines>
    <ProductLine Name="&lt;Default&gt;">
      <General>
        <SummaryLocation>0</SummaryLocation>
        <CustomerBillGenFormatInvoice>True</CustomerBillGenFormatInvoice>
        <CustomerBillGenFormatQuotation>True</CustomerBillGenFormatQuotation>
        <CustomerBillPrintFormatInvoice>False</CustomerBillPrintFormatInvoice>
        <CustomerBillPrintFormatQuotation>True</CustomerBillPrintFormatQuotation>
        <InvoiceQuotationNoOfCopiesToPrint>1</InvoiceQuotationNoOfCopiesToPrint>
      </General>
      <Invoice>
        <HeaderTitle>Invoice Title</HeaderTitle>
        <HeaderSubTitle>Invoice Header SubTitle</HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Invoice Footer Title</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>Company Full Address</Address> 
        <PhoneNumber>1234567890</PhoneNumber>
        <EMailID>Company Email ID</EMailID>
        <TINNumber>1234567890</TINNumber>
        <GSTINumber>1234567890ABCD</GSTINumber>
        <LastNumber>0</LastNumber>
        <VATPercent>5.5</VATPercent>
      </Invoice>
      <Quotation>
        <HeaderTitle>Quotation Title</HeaderTitle>
        <HeaderSubTitle>Quotation Header SubTitle</HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Quotation Footer Title</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>Company Full Address</Address>
        <PhoneNumber>1234567890</PhoneNumber>
        <EMailID>Company Email ID</EMailID>
        <TINNumber>
        </TINNumber>
        <GSTINumber>1234567890ABCD</GSTINumber>
        <LastNumber>0</LastNumber>
      </Quotation>
      <PurchaseOrder>
        <HeaderTitle>Purchase Order Title</HeaderTitle>
        <HeaderSubTitle>Purchase Order SubTitle</HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Purchase Order Footer Title</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>Company Full Address</Address>
        <PhoneNumber>123445667890</PhoneNumber>
        <EMailID>Company Email ID</EMailID>
        <TINNumber>
        </TINNumber>
        <GSTINumber>1234567890ABCD</GSTINumber>
        <VATPercent>5.5</VATPercent>
        <LastNumber>103</LastNumber>
        <PastSalesPeriod>
          <Value>10</Value>
          <Units>Days</Units>
        </PastSalesPeriod>
      </PurchaseOrder>
    </ProductLine>
    <ProductLine Name="Bakery">
      <General>
        <SummaryLocation>0</SummaryLocation>
        <CustomerBillGenFormatInvoice>True</CustomerBillGenFormatInvoice>
        <CustomerBillGenFormatQuotation>True</CustomerBillGenFormatQuotation>
        <CustomerBillPrintFormatInvoice>False</CustomerBillPrintFormatInvoice>
        <CustomerBillPrintFormatQuotation>True</CustomerBillPrintFormatQuotation>
        <InvoiceQuotationNoOfCopiesToPrint>1</InvoiceQuotationNoOfCopiesToPrint>
      </General>
      <Invoice>
        <HeaderTitle>Invoice Title</HeaderTitle>
        <HeaderSubTitle>Invoice Header SubTitle</HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Invoice Footer Title</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>Company Full Address</Address>
        <PhoneNumber>1234567890</PhoneNumber>
        <EMailID>Company Email ID</EMailID>
        <TINNumber>1234567890</TINNumber>
        <GSTINumber>1234567890ABCD</GSTINumber>
        <LastNumber>0</LastNumber>
        <VATPercent>5.5</VATPercent>
      </Invoice>
      <Quotation>
        <HeaderTitle>Quotation Title</HeaderTitle>
        <HeaderSubTitle>Quotation Header SubTitle</HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Quotation Footer Title</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>Company Full Address</Address>
        <PhoneNumber>1234567890</PhoneNumber>
        <EMailID>Company Email ID</EMailID>
        <TINNumber>
        </TINNumber>
        <GSTINumber>1234567890ABCD</GSTINumber>
        <LastNumber>0</LastNumber>
      </Quotation>
      <PurchaseOrder>
        <HeaderTitle>Purchase Order Title</HeaderTitle>
        <HeaderSubTitle>Purchase Order SubTitle</HeaderSubTitle>
        <HeaderTitleColor>-6927541</HeaderTitleColor>
        <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
        <FooterTitle>Purchase Order Footer Title</FooterTitle>
        <FooterTitleColor>-6960825</FooterTitleColor>
        <FooterTextColor>-6927541</FooterTextColor>
        <Address>Company Full Address</Address>
        <PhoneNumber>123445667890</PhoneNumber>
        <EMailID>Company Email ID</EMailID>
        <TINNumber>
        </TINNumber>
        <GSTINumber>1234567890ABCD</GSTINumber>
        <VATPercent>5.5</VATPercent>
        <LastNumber>103</LastNumber>
        <PastSalesPeriod>
          <Value>10</Value>
          <Units>Days</Units>
        </PastSalesPeriod>
      </PurchaseOrder>
    </ProductLine>
  </ProductLines>
</Settings>
