<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Application>
    <MainFormTitle>Ceren Sales Orders Software</MainFormTitle>
    <LogoFileName>CerenLogo.png</LogoFileName>
    <LogoImageHeight>80</LogoImageHeight>
    <ReportRowsFromTop>7</ReportRowsFromTop>
    <ReportAppendRowsAtBottom>7</ReportAppendRowsAtBottom>
  </Application>
  <General>
    <SummaryLocation>0</SummaryLocation>
  </General>
  <Invoice>
    <HeaderTitle>Invoice</HeaderTitle>
    <HeaderSubTitle>
    </HeaderSubTitle>
    <HeaderTitleColor>-6927541</HeaderTitleColor>
    <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
    <FooterTitle>Ceren Business Group</FooterTitle>
    <FooterTitleColor>-6960825</FooterTitleColor>
    <FooterTextColor>-6927541</FooterTextColor>
    <Address>No.40, 5th Main, 6th Cross, Krishnappa Block, Ganganagar Extn., RT Nagar, Bangalore-560032</Address>
    <PhoneNumber>+917022037919</PhoneNumber>
    <EMailID>cerenbusinessgroup@gmail.com</EMailID>
    <TINNumber>29271403793</TINNumber>
    <LastInvoiceNumber>135</LastInvoiceNumber>
    <VATPercent>5.5</VATPercent>
  </Invoice>
  <Quotation>
    <HeaderTitle>Order Quotation</HeaderTitle>
    <HeaderSubTitle>
    </HeaderSubTitle>
    <HeaderTitleColor>-6927541</HeaderTitleColor>
    <HeaderSubTitleColor>-6960825</HeaderSubTitleColor>
    <FooterTitle>Ceren Business Group</FooterTitle>
    <FooterTitleColor>-6960825</FooterTitleColor>
    <FooterTextColor>-6927541</FooterTextColor>
    <Address>No.40, 5th Main, 6th Cross, Krishnappa Block, Ganganagar Extn., RT Nagar, Bangalore-560032</Address>
    <PhoneNumber>+917022037919</PhoneNumber>
    <EMailID>cerenbusinessgroup@gmail.com</EMailID>
    <TINNumber>
    </TINNumber>
    <LastQuotationNumber>103</LastQuotationNumber>
  </Quotation>
</Settings>